.box__container__topbar {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    color: rgb(202, 195, 195);
}

.inut__search__topbar {
    font-size: 1.4rem !important;
    // padding: 0.2rem 0rem; 
}

.icon__btn_topbar {
    font-size: 2rem !important;
}


.global__link__fandom {
    display: flex;
    align-items: center;
}

.global__link__fandom_img {
    height: 36px;
    width: auto;
}

.contain__btn_auth {}

.contain__btn_auth_detail {
    position: relative;
}
.contain__btn_auth_detail::after{
    content: '';
    width: 100%;
    height: 10px;
    background-color: transparent;
    position: absolute;
    bottom: -10px;
}

.btn__login {
    border: none;
    padding: 9px 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background-color: #520044;
    color: #dcdcdc;
    margin-left: 0.5rem;
}
.btn_inside_register:hover,
.btn__login:hover{
    background-color: var(--theme-accent-color--hover);
}

.contain__right_items {
    display: flex;
    align-items: center;
}

.item__hamburger__contain {
    height: 4.6rem;
    display: flex;
    align-items: center;
}

.btn__hamburger__detail {
    display: flex;
    border: none;
    font-size: 2rem;
    padding: 9px 1.8rem;
}

.contain__right_sub_items {
    display: flex;
}

.sign_in__register_text {
    font-size: 1.4rem;
    text-align: center;
    padding: 2px 0;
}

.contain__subbtn_auth {
    position: absolute;
    padding: 12px;
    top: 46px;
    width: 180px;
    background-color: var(--fandom-dropdown-background-color);
    border: 1px solid var(--fandom-border-color);
    background-color: #f2f2f2;
    right: 0;
    display: none;
}
.contain__subbtn_auth::before{
    content: '';
    position: absolute;
    top: -6px; /* điều chỉnh tùy vị trí bạn muốn */
    left: 70%;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #f2f2f2; /* màu của tam giác */
}
.contain__btn_auth_detail:hover .contain__subbtn_auth {
    display: block;
}

.btn__inside_auth {
    border: none;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #dcdcdc;
    width: 100%;
    font-size: 12px;
    justify-content: center;
    letter-spacing: .15px;
    line-height: 16px;
    margin: 0;
    min-height: 18px;
    padding: 7px 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: .3s;
}

.btn_inside_register {
    background-color: var(--theme-accent-color);
}

.btn_inside_login {
    border: 1px solid var(--fandom-text-color);
    color: var(--fandom-text-color);
}

.btn_inside_login:hover {
    color: var(--theme-accent-color);

}

@media only screen and (max-width: 1030px) {
    .contain__right_items {
        display: none;
        width: auto;
        height: 100vh;
        background-color: #acacac;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        padding: 1rem;
        align-items: center;
        overflow: auto;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE, Edge cũ

        &::-webkit-scrollbar {
            display: none; // Chrome, Safari
        }
    }

    .item__hamburger__contain {
        // display: flex;
    }

    .contain__right_sub_items {
        flex-direction: column;
        gap: 8px;
    }

    .contain__item_nav:hover .contain__sub_item_nav_link {
        // pointer-events: none;

    }

    .show__right_item {
        display: flex;
    }

}